*{
   padding: 0px;
   margin: 0px;
}
.clearfix::after{
content: " ";
clear: both;
display: block;
}

.withfix{
   width: 85%;
   margin: auto;
  
}
/* header section */

.header{
   background-color:#22c3a3;
   color: #fff;
   padding-top: 10px;
}
.flaot-left{
   width: 30%;
   text-align: start;
   float: left;
   font-size: 33px;
}
.flaot-right{
   width: 70%;
   float: right;
   
}
.menu{
   text-align: right;
}
.menu li{ 
   display: inline-block;
   list-style: none;
   position: relative;
}
.menu li a {
   display: block;
   text-decoration: none;
   color: #fff;
   padding: 6px 10px !important;
   font-size: 23px;
   margin: 16px 0px;
   transition: .5s;
   /* padding: 0px 0px; */
}
.menu li a:hover{ 
   background-color:#16a085 ;
   border-radius: 5px;
}
.menu-logo {
   position: absolute;
   top: 16px;
   right: 54px;
   font-size: 36px;
   opacity: 0;
   visibility: hidden;
}

/* benner */



.benner {
   text-align: center;
   background-image: url('https://i.ibb.co/87NQ8hs/header-bg01.jpg');
   padding: 134px 0px;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: top center center;
}
.benner h1,p,button{
   
padding: 5px 17px;
   
word-spacing: 2px;
   
color: #fff;
}
.benner h1 p{
   color: #fff;
}

.benner button{
    background-color: #0dbf9b;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    
    z-index: 1;
}
.benner button::before{
   content: '';
   position: absolute;
   top:0;
   right: 0;
   width: 0;
   height: 100%;
   background-color: #16a085 ;
   border-radius: 5px;
   z-index: -1;
   transition: .4s;
}
.benner button:hover::before{
   width: 100%;
   border: none;
}
/* service .........................................*/

.service{
   border-bottom: 2px solid #0dbf9b;
}

.service-itam{
   padding-top: 90px;
   float: left;
   width: 25%;
   text-align: center;
   margin-bottom: 94px;
   transition: .3s;
}
.service-itam:hover{
   transform: scale(1.3);
}
.service-itam i {
   font-size: 36px;
   color: #22c3a3;
   margin-bottom: 120px;
}

/* about ....................... */

.float-l{
   max-width: 100%;
   float: left;
   width: 30%;

}
.float-l img{
   max-width: 100%;
}
.float-r{
   float: right;
   width: 70%;
   text-align: start;

}

.float-r h4{
   margin: 0px 17px;
}

.float-l,.float-r{
   margin: 30px -26px;
}
/* contact section................................... */
.contact {
   background-color: #f6f6f6;
   padding: 64px 0px;
}
.contact-item{
float: left;
width: 33%;
margin-top: 85px;
transition: .3s;
}
.contact-item:hover{
   transform: scale(1.2);
}
.contact-item i{
   color: #22c3a3;
   
}
/* socail menu css................. */

.socail{
   background-color: #22c3a3;
   margin-bottom: 0px;
}
.socail ul{}
.socail ul li{
   list-style: none;
   display: inline-block;
}
.socail ul li i{
   background-color: #22c3a3;
   color: #fff;
   width: 30px;
   /* height: 30px; */
   /* line-height: 30px; */
   border-radius: 50%;
   font-size: 34px;
}

.socail ul li a {
   display: inline-block;
   text-decoration: none;
   padding: 10px 0px;
   margin: 0px 16px;
   transition: .3s;
}
.socail ul li a:hover{
   transform: scale(1.2);
}
/* footer */
.footer{
   background-color: #222222;
   margin-top: -16px;
}
.footer p{
    padding: 10px 0px;
}